* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-image: url("assets/Images/bg.jpg");
    height: 100vh;
    position: relative;
}

body {
    background-color: black;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.70;
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center center;
    background-size: calc(1200px, 100vh);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}

.main input,
.fifth-sec input {
    padding: 3px 24px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(246, 238, 238, 0.5);
    outline: none;
}

nav {
    max-width: 90vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 8vh;

}

nav img {
    width: 10rem;
    color: #e50914;
    position: relative;
    z-index: 10;
}

nav button {
    z-index: 10;
    position: relative;
}

.hero {
    color: #ffffff;
    height: calc(100% - 8vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    gap: 20px;
    padding: 0 30px;
}

.hero>:nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero>:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.line-seperation {
    height: 8px;
    background-color: #232323;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: #fff;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid rgba(248, 243, 243, 0.3);
    cursor: pointer;
}

.btn-red {
    background-color: #e50914;
    color: #ffffff;
    padding: 3px 25px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm {
    font-size: 14px;
    padding: 4px 19px;
    background-color: #e50914;
    color: #ffffff;

}

.btn-red-sm>a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;

}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .main {
        height: auto;
        background-position: center center;
    }

    .main .box {
        height: auto;
    }


    .main input {
        display: flex;
        margin-bottom: 1rem;
        font-size: 16px;
        width: 14rem;
        line-height: 2.5rem;
    }

    .main input,
    .fifth-sec input {
        font-size: 16px;
    }

    nav {
        padding: 0 20px;
        max-width: 100vw;
        height: 5rem;
    }

    nav img {
        width: 6rem;
        opacity: 0.90;
    }

    .hero>:nth-child(1) {
        margin-top: 3rem;
        font-size: 32px;
        z-index: 100;
    }

    .hero>:nth-child(2) {
        font-size: 24px;
    }

    .hero>:nth-child(3) {
        font-size: 22px;
    }

    .btn {
        padding: 3px 19px;
    }

    .btn-red {
        margin-left: 2.10rem;
        margin-bottom: 2rem;
        font-size: 18px;
        font-weight: 600;
        padding: 3px 25px;
        line-height: 2.5rem;
    }

    .btn-red-sm {
        font-size: 16px;
        padding: 5px 7px;
    }

    .dropdown__container {
        display: flex;
        align-items: center;
    }

    .dropdown__container button {
        font-size: 16px;
        padding: 5px 7px;
        margin-right: 5px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .first {
        flex-direction: column;
        max-width: 80vw !important;
        padding: 30px 0 0 0 !important;
        height: auto;
        text-align: center;
    }

    .first>div {
        margin-bottom: 1rem !important;
    }

    .first>div :nth-child(1) {
        font-size: 2rem !important;
    }

    .first>div :nth-child(2) {
        font-size: 1.125rem !important;
    }

    .sec-img {
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .sec-img img {
        width: 100% !important;
        display: block;
        margin-bottom: 2rem !important;
    }

    .sec-img video {
        left: 34px !important;
        top: 40px !important;
        width: 58vw !important;
    }


}


@media screen and (width: 480px) {
    .sec-img video {
        left: 50px !important;
        top: 60px !important;
        width: 60vw !important;
        margin: 0 auto !important;
    }
}


.first {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    height: 90%;
    margin: 8px auto;
    padding: 72px 0;
    color: #ffffff;
}

.sec-img {
    position: relative;
}

.sec-img img {
    width: 33vw;
    position: relative;
    z-index: 10;
}

.sec-img video {
    position: absolute;
    left: 60px;
    width: 24vw;
    top: 70px;
}

.first>div {
    display: flex;
    flex-direction: column;
}

.first>div :nth-child(1) {
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 1rem;
    /* text-align: center; */
}

.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5rem;
    /* text-align: center; */
}

.sec-img1 {
    position: relative;
}

.sec-img1 img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.sec-img1 video {
    position: absolute;
    left: 80px;
    width: 18vw;
    top: 28px;
}

.fifth-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    height: 90%;
    margin: 8px auto;
    padding: 35px 0;
    color: #ffffff;
}

.fifth-sec>:nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    padding: 20px 0;

}

.accordian-item>button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px;
    width: 75vw;
    height: 5rem;
    border: none;
    color: #ffffff;
    background-color: #2d2d2d;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 0.5rem;


}

.accordian-item>button:hover {
    background-color: #414141;
    transition: all 0.01s ease-out;
}

.accordian-item>button>svg {
    color: #ffffff;
    height: 40px;
    width: 40px;
}

.desc {
    padding: 40px 0px 20px 0px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.accordian-content svg path.expanded {
    transform: rotate(45deg);
    height: 40px;
    width: 40px;
}


.hidden {
    display: none;
}

.additional {
    height: auto;
    border: none;
    color: #ffffff;
    background-color: #2d2d2d;
    padding: 20px;
    font-size: 24px;
    line-height: 2rem;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: fit-content;
    margin-bottom: 1rem;
}

.additional>p {
    margin: 1.5rem;
}

.additional .toggle {
    max-height: 0;
}

/* footer */

footer {
    max-width: 70vw;
    padding: 2rem 1rem;
    margin: 8px auto;
    color: #ffffffb3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__row__1>p>a {
    color: #ffffffb3;
}

.footer__row__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 8rem;
}

.footer__row__2 .column__1>p {
    margin-top: 16px;
}

.footer__row__2 .column__1>p>a {
    color: #ffffffb3;
}

.footer__row__2 .column__2>p {
    margin-top: 16px;
}

.footer__row__2 .column__2>p>a {
    color: #ffffffb3;
}

.footer__row__2 .column__3>p {
    margin-top: 16px;
}

.footer__row__2 .column__3>p>a {
    color: #ffffffb3;
}

.footer__row__2 .column__4>p {
    margin-top: 16px;
}

.footer__row__2 .column__4>p>a {
    color: #ffffffb3;
}

.footer__row__1>h4 {
    font-size: 15px;
    font-weight: 500;
}

.footer__row__3 {
    margin: 16px 0px;
}

.footer__row__3>.dropdown__container {
    width: fit-content;
    background-color: transparent;
    border: none;
}

.dropdown>.dropdown__container>button>select,
.footer__row__3>.dropdown__container>button>select {
    /* background-color: black; */
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-size: 14px;
}